.line {
	width: 100%;
	height: .1vw;
	background: rgba(255, 255, 255, 0.15);
}

.plus-icon {
	background: rgba(217, 217, 217, 0.4);
}

.channel {
	background: rgba(217, 217, 217, 0.08);
	width: 100%;
	height: 8%;
}

.active-channel, .channel:hover {
	background: rgba(217, 217, 217, 0.18);
}

.msg-container {
	border-radius: .5vw;
	background: rgba(217, 217, 217, 0.15);
}

