/* .nav {
	position: fixed;
	/* z-index: 2; 
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 3em;
}

/* .logo {
	text-decoration: none;
	color: var(--primary);
	font-family: 'Aktura', sans-serif;
	font-size: 3em;
	/* cursor: pointer; */
/* padding-left: .5em; */
/* text-transform: uppercase; 
} 

.menu-toggle {
	cursor: pointer;
}

.nav-overlay {
	position: fixed;
	 background: var(--bg); 
	background: rgba(255, 255, 255, 0.05);
	z-index: -2;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding: 4em;
	transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.hamBox {
	position: relative;
	width: 44px;
	height: 44px;
	/* cursor: pointer; 
	border-radius: 50%;
	transition: 0.3s ease;
	padding: 2.4em;
}

.hamBox:hover {
	background: var(--primar);
}

.hamBoxOpen {
	background: var(--bg);
}

.lineTop, .lineBottom {
	margin: 0 auto;
	position: absolute;
	display: block;
	width: 24px;
	height: 2px;
	border-radius: 10px;
	background: var(--primary);
	left: 0;
	right: 0;
	transform: rotate(0deg);
	transition: all 0.4s;
}

.nav:hover .lineTop, .nav:hover .lineBottom {
	background: var(--bg);
}

.lineTop {
	top: 2.2em;
}

.lineBottom {
	bottom: 2.2em;
}

.lineTop.spin {
	top: 2.35em;
	transform: rotate(135deg);
	background: var(--primary);
}

.lineBottom.spin {
	top: 2.35em;
	transform: rotate(225deg);
	background: var(--primary);
}

.nav:hover .lineTop.spin, .nav:hover .lineBottom.spin {
	background: var(--primary);
}

ul.nav-links {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ul.nav-links li {
	list-style: none;
	position: relative;
}

ul.nav-links li a {
	text-decoration: none;
	color: var(--primary);
	font-family: "stardom", sans-serif;
	font-size: 8em;
	font-weight: 600;
	position: relative;
	text-transform: uppercase;
	top: 0;
	transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
	line-height: 100%;
}

.nav-item-wrapper:after {
	content: "";
	position: absolute;
	top: 120px;
	left: -10%;
	width: 120%;
	height: 100%;
	/* background: var(--primary); 
	margin: 0 auto;
}

.nav-item::before {
  background: hsl(45 100% 70%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 2em;
	display: flex;
	justify-content: space-between;
}

.nav-social-media ul {
	display: flex;
}

.nav-social-media ul li {
	list-style: none;
}

.nav-social-media ul li a {
	position: relative;
	bottom: -20px;
	text-decoration: none;
	color: var(--bg);
	font-family: "stardom", sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	padding-left: 2em;
	opacity: 0;
	transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.location {
	position: relative;
	bottom: -20px;
	opacity: 0;
	color: var(--bg);
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: "stardom", sans-serif;
	transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

@media (max-width: 900px) {
	ul.nav-links li a {
		font-size: 5em;
	}
	.location {
		display: none;
	}
	.nav-footer {
		justify-content: space-around;
	}
	.nav-social-media ul li a {
		padding: 0 1em;
	}
} */

.nav {
    position: fixed;
    z-index: 2;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2em;
}
/* 
.logo {
	text-decoration: none;
	color: #fff;
	font-family: 'Kohinoor Zerone', sans-serif;
	font-size: 2em;
	text-transform: uppercase;
} */

.menu-toggle {
    cursor: pointer;
}

.nav-overlay {
    position: fixed;
    background: #18181c;
    z-index: -2;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 4em;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.hamBox {
    position: relative;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease;
    padding: 2.4em;
}

.hamBox:hover {
    background: #2a2a2f;
    background: #fff;
}

.hamBoxOpen {
    background: #2a2a2f;
}

.lineTop,
.lineBottom {
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s;
}

.nav:hover .lineTop,
.nav:hover .lineBottom {
    background: var(--bg);
}

.lineTop {
    top: 2.2em;
}

.lineBottom {
    bottom: 2.2em;
}

.lineTop.spin {
    top: 2.35em;
    transform: rotate(135deg);
    background: #fff;
}

.lineBottom.spin {
    top: 2.35em;
    transform: rotate(225deg);
    background: #fff;
}

ul.nav-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    /* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
    /* display: grid; */
    /* grid-template-rows: repeat(4, minmax(0, 1fr)); */
    /* grid-gap: 1em; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5em;
    /* grid-row-gap: 5em; */
}

ul.nav-links li {
    list-style: none;
    position: relative;
}

ul.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 5em;
    font-weight: 900;
    position: relative;
    text-transform: uppercase;
    top: 0;
    transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
    line-height: 100%;
}

/* .nav-item-wrapper:after {
	content: "";
	position: absolute;
	top: 120px;
	left: -10%;
	width: 120%;
	height: 100%;
	background: #18181c;
	margin: 0 auto;
} */

.nav-item-wrapper:after {
    content: "";
    position: absolute;
    top: 120px;
    left: -10%;
    width: 120%;
    height: 100%;
    margin: 0 auto;
}

.nav-item::before {
    background: hsl(0, 100%, 59%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.nav-item:hover::before {
	transform: scaleX(1);
    transform-origin: left;
	font-size: 5em;
	font-weight: 900;
}

/* 
.nav-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 2em;
	display: flex;
	justify-content: space-between;
}

.nav-social-media ul {
	display: flex;
}

.nav-social-media ul li {
	list-style: none;
}

.nav-social-media ul li a {
	position: relative;
	bottom: -20px;
	text-decoration: none;
	color: #fff;
	font-family: "stardom", sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	padding-left: 2em;
	opacity: 0;
	transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}

.location {
	position: relative;
	bottom: -20px;
	opacity: 0;
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: "stardom", sans-serif;
	transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
} */

@media (max-width: 900px) {
    ul.nav-links li a {
        font-size: 5em;
    }
}
