.container-1,
.container-2 {
    background: rgba(255, 255, 255, 0.05);
    border: 0.1vw solid rgba(255, 255, 255, 0.15);
    border-radius: 0.5vw;
}

.child-container-1,
.child-container-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* height: 100vh; */
}

.status {
    border: 3px solid var(--bg);
}

.input-container,
.check-span {
    background: rgba(217, 217, 217, 0.4);
}

.check-icon {
    font-size: 2.2em;
}

.custom-textarea {
    border: none;
    outline: none;
    background: none;
    /* resize: none; */
    /* height: 20vh; */
    /* width: 16em;  */
    /* font-family: inherit; */
    /* font-size: inherit; */
    /* color: inherit; */
}
