:root {
    /* --bg: #140d0d; */
    --bg: #101010;
    --primary: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--bg);
	/* background-image: url("https://cdn.dribbble.com/users/80960/screenshots/5875106/media/60d6bd3a671be79f133db6d408c62ccb.gif"); */
	/* filter: blur(5px); */
	/* background-size: cover; */
	/* height: 100%; */
    color: var(--primary);
}
